{% extends "basetodo.html" %}

{% block content %}



<div class="container">

    <div class="row">
        <div class="col-sm-12">
        <h2>Task backlog</h2>
        </div>
    </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Date</th>

      </tr>
    </thead>
    <tbody>
        {% for item in activeTodos %}
        {% if item.priority == '1' %}
            <tr class='danger'>
        {% elif item.priority == '2' %}
            <tr class='warning'>
        {% elif item.priority == '3' %}
            <tr class='info'>
        {% endif %}

            <td>{{ item.category }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.priority }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.upDate }}</td>
            <td><a href="{% url 'taskedit' item.id %}">Edit</a></td>
            </tr>
        {% endfor %}

    </tbody>
  </table>

  <a class="btn btn-primary btn-md" href="{% url 'taskedit' %}">Add a task</a>


    <div class="row">
        <div class="col-sm-12">
        <h2>Daily completed tasks</h2>
        </div>
    </div>


   <table class="table table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Date</th>

      </tr>
    </thead>
    <tbody>
        {% for item in finishedTodos %}
        {% if item.priority == '1' %}
            <tr class='danger'>
        {% elif item.priority == '2' %}
            <tr class='warning'>
        {% elif item.priority == '3' %}
            <tr class='info'>
        {% endif %}
            <td>{{ item.category }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.priority }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.upDate }}</td>
            <td><a href="{% url 'taskedit' item.id %}">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>


</div>

{% endblock content %}