{% extends "basetodo.html" %}

{% block title %}Task edit form{% endblock title %}

{% block content %}
    <div class="container">
    <h2>Task edit form</h2>

    {% if submitted %}

        <p class="success">Your task was updated.</p>

    {% else %}

        <form action="" method="post" novalidate>

            <table class="table table-striped">
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                <td><input type="submit" class="btn btn-dark" value="Submit"></td>
                </tr>
            </table>
    {% csrf_token %}

        </form>

    {% endif %}
    </div>

{% endblock content %}