<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1">

<head>


    {% block bk %}


    {% endblock bk %}







  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>



<section id="main">

    {% block nav %}
        <h1>Welcome!</h1>
        <p>This is the site nav bar</p>
    {% endblock nav %}


    {% block content %}
        <h1>Welcome!</h1>
        <p>This is the site main content</p>
    {% endblock content %}

</section>


</body>
</html>







